{% extends 'base.html' %}

{% block content %}
<h2 class="text-center mb-5 text-buraczkowy fw-bold">Sklep</h2>

<div class="row">
    {% for p in products %}
    <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm border-lososiowy">
            <!-- Wyświetlamy obrazek z klasy Product -->
            <img src="{{ p.image_url }}" class="card-img-top mx-auto mt-3" alt="{{ p.name }}"
                style="width: 80%; height: auto; aspect-ratio: 5/7; object-fit: contain;">

            <div class="card-body text-center d-flex flex-column">
                <h5 class="card-title fw-bold text-malinowy">{{ p.name }}</h5>

                <div class="mt-auto">
                    <h4 class="mb-3 text-buraczkowy">{{ p.price }} zł</h4>
                    <a href="{{ url_for('add_to_cart', product_id=p.id) }}" class="btn btn-lososiowy w-60">Dodaj do
                        koszyka</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}